/* Шапка */
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 92px 48px;
}

.header-logo {
    width: 148px;
    height: 105px;
    justify-self: center;
}

.header-menu {
    align-self: center;
}

.header-menu-list {
    display: flex;
    column-gap: 32px;
    list-style: circle;
    text-transform: lowercase;
}

/*Блок cover*/

.cover {
    background: lightgray url(../images/cover.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 180px;
}

.cover-content {
   position: relative;
   padding: 165px 50px 50px;
   color: white;
   font-style: normal;
}

.cover-title {
    font-size: 100px;
    font-weight: 700;
    margin-bottom:135px;
    letter-spacing: 30px;
    line-height: 100%;
    text-transform: uppercase;
}

.title-text {
    display: block;
    margin-top: 20px;
}

.title-text:first-child {
    line-height: 115%;
    margin: 0;
}

.cover-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover-subtitle {
    text-align: center;
    line-height: 28px;
    word-spacing: 18px;
}

.bet-button {
    padding: 12px 32px;
    margin-left: 78px;
    background: transparent;
    border: 1px solid white;
    font-family: Raleway, sans-serif;
    color: white;
    cursor: pointer;
}

.desc-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

/*Раздел lots*/

.lots {
    margin: 0 50px 180px;
}

.lots-title {
    margin: 0 auto 27px 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    min-height: 100%;
    margin-bottom: 30px;
    list-style: none;
}

.lots-list-item {
    flex-grow: 1;
    min-height: 100%;
    flex-basis: 430px;
    background: lightgray no-repeat center;
    background-size: cover;
}


.lot-film {
    background-image: url(../images/card-lot-01.jpg);
}

.lot-book {
    background-image: url(../images/card-lot-02.jpg);

}

.lot-pictures {
    background-image: url(../images/card-lot-03.jpg);
}

.lot-link {
    display: block;
    height: inherit;
}

.lot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
    padding: 50px 40px;
    color: white;
}

.lot-subtitle {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:  underline;
}

.lot-description {
    font-size: 20px;
    font-weight: 400;
}

.lot-subtitle,
.lot-description {
    line-height: 120%;
}

.show-all {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}

/*Раздел about*/

.about {
    display: grid;
    grid-template-columns: 430px 1fr;
    gap: 8px 25px;
    margin: 0 50px 180px;
}

.about-logo {
    display: flex;
    align-items: center;
    justify-self: center;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: black;
}

.about-title {
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-description {
    grid-column: 2;
}

.about-description-text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-description-text:last-child {
    margin-bottom: 0;
}

/*Подвал*/

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 90px;
}

.social {
    display: flex;
    gap: 48px;
    height: 100%;
    justify-content: space-between;
}

.footer-menu-list {
    text-align: center;
    list-style: none;
    text-transform: lowercase;
}

/*Общие стили*/

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .6;
    background: black;
}

.link:hover {
    text-decoration: none;
}

.link:active {
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-self: end;
    line-height: 135%;
    width: 240px;
    font-style: normal;
}

.header-menu,
.footer-menu,
.contacts {
    font-size: 18px;
    font-weight: 400;
}

/*Вспомогательные стили*/

.letter-spacing-extended {
    letter-spacing: 60px;
}

.text-align-center {
    text-align: center;
}

.text-align-end {
    text-align: end;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.not-decoration {
    text-decoration: none;
}

.not-list-style {
    list-style: none;
}

.text-underline-s {
    text-underline-offset: 3px;
}

.text-underline-m {
    text-underline-offset: 6px;
}
