/* Шапка */
.menu,
.contacts {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 92px 48px;
}

.menu {
  align-self: center;
}

.logo {
    width: 148px;
    height: 105px;
    justify-self: center;
}

.contacts {
    line-height: 135%;
    max-width: 240px;
    justify-self: end;
}

.menu-list {
    display: flex;
    column-gap: 24px;
    white-space: nowrap;
    list-style: circle;
    text-transform: lowercase;
}

.menu-item:first-child {
    list-style: none;
}

/*Блок cover*/

.cover {
    background: url(../images/cover.jpg), lightgray no-repeat;
    background-size: cover;
    margin-bottom: 180px;
}

.overlay {
  position: relative;
}

.overlay::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: .6;
    background: black;
}

.content {
   position: relative;
   padding: 165px 50px 50px;
   color: white;
   font-style: normal;
}

.cover-title {
    font-size: 100px;
    font-weight: 700;
    margin-bottom:135px;
    letter-spacing: 30px;
    line-height: 100%;
    text-transform: uppercase;
}

.title-text {
    display: block;
}

.title-text:nth-child(1) {
    line-height: 115%;
}

.title-text:nth-child(2) {
    text-align: center;
    margin: 20px 0;
}

.title-text:nth-child(3) {
    text-align: end;
}

.cover-description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover-subtitle {
    text-align: center;
    line-height: 28px;
    word-spacing: 16px;
}

.bet-button {
    padding: 12px 32px;
    margin-left: 78px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

 /*Раздел lots*/

.lots {
    margin: 0 50px 180px;
}

.lots-title {
    margin: 0 auto 27px 50px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    min-height: 100%;
    margin-bottom: 30px;
    list-style: none;
}

.lots-list-item {
    flex-grow: 1;
    min-height: 100%;
    flex-basis: 430px;
}


.lots-list-item:nth-child(1) {
    background: url(../images/card-lot-01.jpg), lightgray no-repeat;
    background-size: cover;
}

.lots-list-item:nth-child(2) {
    background: url(../images/card-lot-02.jpg), lightgray no-repeat;
    background-size: cover;
}

.lots-list-item:nth-child(3) {
    background: url(../images/card-lot-03.jpg), lightgray no-repeat;
    background-size: cover;
}

.lot-link {
    display: block;
    height: inherit;
}

.lot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    padding: 50px 40px;
    color: white;
}

.lot-subtitle {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration:  underline;
}

.lot-description {
    font-size: 20px;
    font-weight: 400;
}

.lot-subtitle,
.lot-description {
    line-height: 120%;
}

.show-all {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
}

 /*Вспомогательные стили*/

.desc-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.not-decoration {
    text-decoration: none;
}

.text-underline-s {
    text-underline-offset: 3px;
}

.text-underline-m {
    text-underline-offset: 6px;
}
